:root {
  --primaryColor: hsl(262deg 94% 51%);
  --secondaryColor: hsl(168deg 83% 44%);
  --offWhite: hsl(0deg 0% 95%);
  --white: hsl(0deg 0% 100%);
  --black: hsl(0deg 0% 2%);
  --grey: hsl(0deg 0% 44%);
  --transition: all 0.3s linear;
  --spacing: 0.05rem;
  --radius: 1.5rem;
  --border: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600;700&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  background: var(--offWhite);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  color: var(--black);
}
h1 {
  font-size: 3rem;
  line-height: 1.2;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: var(--grey);
}

.nav-center {
  .nav-header {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 100px;
  }

  .nav-toggle {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }
    
  .links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
    width: 100vw;
    position: absolute;
    z-index: 999;
    text-align: center;
  }
  .links {
    display: inline-flex;
    padding: 3rem;
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: center;
    box-shadow: var(--light-shadow);

  
    a {
      color: var(--black);
      text-transform: uppercase;
      letter-spacing: var(--spacing);
      font-weight: 600;
    }
  }
}
.pledge {
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  padding: 0.35rem 1rem;
  background-color: var(--primaryColor);
  color: var(--white);
  border: 1px solid var(--black);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

@media screen and (min-width: 800px) {
  .nav-center {
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links {
    flex-direction: row !important;
    column-gap: 1.5rem;
    padding: 0 !important;
    box-shadow: none !important;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
    display: contents;
  }
}