// Variables
:root {
  --primaryColor: hsl(262deg 94% 51%);
  --secondaryColor: hsl(168deg 83% 44%);
  --offWhite: hsl(0deg 0% 95%);
  --white: hsl(0deg 0% 100%);
  --black: hsl(0deg 0% 2%);
  --lightGrey: hsl(0deg 0% 83%);
  --grey: hsl(0deg 0% 44%);
  --transition: all 0.3s linear;
  --spacing: 0.05rem;
  --spacingMobile: 0.5rem;
  --spacingDesktop: 2rem;
  --radius: 1.5rem;
  --border: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

// Font family - Josefin Sans
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600;700&display=swap');

// General Settings
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  background: var(--offWhite);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  color: var(--black);
}
h1 {
  font-size: 3rem;
  line-height: 1.2;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: var(--grey);
}
@media screen and (min-width: 1800px) {
  body {
    text-align: -webkit-center;
  }
  #root{
    max-width: 1800px;
  }
}


// Navbar
.nav-center {
  .nav-header {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 100px;
  }

  .nav-toggle {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
  }

  .links-container {
    overflow: hidden;
    transition: var(--transition);
    width: 100vw;
    position: absolute;
    z-index: 999;
    text-align: center;
    background: var(--lightGrey);
  }

  .links {
    display: inline-flex;
    align-items: center;

    a {
      color: var(--black);
      text-transform: uppercase;
      letter-spacing: var(--spacing);
      font-weight: 600;
    }
  }
}
.pledge {
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  padding: 0.35rem 1rem;
  background-color: var(--primaryColor);
  color: var(--white);
  border: 1px solid var(--black);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  .links-container {
    height: 0;
  }
  .links {
    row-gap: 0.5rem;
    flex-direction: column;
    padding: 3rem;
  }

}
@media screen and (min-width: 800px) {
  .nav-center {
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-toggle {
      display: none;
    }
    .links-container {
      height: auto;
      display: contents;
    }
    .links {
      column-gap: 1.5rem;
      flex-direction: row;
      padding: 0;
    }
  }
}

// Hero Section
.hero {
  display: flex;

  .left {
    position: relative;
    min-height: 300px;
    background: url('./components/Hero/bg-ellipse.svg') no-repeat center center;
    background-size: contain;    
  }
  .left::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: url('./components/Hero/waste-bg.png') no-repeat center center;
    background-size: contain;
  }
  .hero-title {
    font-size: 2.2rem;
    text-transform: lowercase;
  }
  .hero-title::first-letter {
    text-transform: uppercase;
  }
  .right {
    flex: 2;
    order: 1;
  }
}
@media (min-width: 600px) {
  .right {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 800px) {
  .hero {
    flex-direction: column;
    padding: 0 1rem;
  }
  .right {
    text-align: center;
    padding: 2rem 1rem 1.5rem;
  }
   .hero-title {
    margin-bottom: var(--spacingMobile);
  }

  .hero-desc {
    padding: 1rem;
    margin-bottom: var(--spacingMobile);
  }
}
@media screen and (min-width: 800px) {
  .hero {
    flex-direction: row;
    padding: 0;
    column-gap: 2rem;
  }
  .left {
    flex: 3;
    order: 2;
    height: 400px;
  }
  .hero-title {
    font-size: 3rem;
    margin-bottom: var(--spacingDesktop);
  }
  .right {
    text-align: left;
    padding: 4rem 0  0 4rem;
  }
  .hero-desc {
    padding: 0;
    margin-bottom: var(--spacingDesktop);
  }
}