:root {
  --primaryColor : #620DF8;
  --secondaryColor : #13CFA8;
  --offWhite : #F2F2F2;
  --white : #FFFF;
  --black : #040404;
  --grey : #707070;
  --transition: all 0.3s linear;
  --spacing: 0.05rem;
  --radius: 1.5rem;
  --border: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600;700&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  background: var(--offWhite);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  color: var(--black);
}
h1 {
  font-size: 3rem;
  line-height: 1.2;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: var(--grey);
}

.nav-center {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 100px;
  }

  .nav-menu ul {
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
  
    a {
      color: var(--black);
      text-transform: uppercase;
      letter-spacing: var(--spacing);
      font-weight: 600;
    }
  }
}
.pledge {
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  padding: 0.35rem 1rem;
  background-color: var(--primaryColor);
  color: var(--white);
  border: 1px solid var(--black);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}